<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body>
    <h1>Instructions</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, rerum dolore dolorem vel quae animi voluptatibus facilis sequi veniam. Rerum, veritatis fugit aliquam id quae eligendi veniam facilis molestiae voluptatem.</p>
</body>
</html>
